<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="logo">
            <a href="{{ url_for('index')}}" class="header_link">Habits</a>
            {% if 'add' not in request.endpoint %}
                <a href="{{ url_for('add_habit') }}" class="header_link"> Add new</a>
            {% endif %}
        </h1>
    </header>
    <main class="main">

        <section class="dates">
            {% for date in dates_range(selected_date) %}
                <a href="{{ url_for('index', date =date) }}" 
                    class="dates_link {{ 'dates_link_current' if loop.index0 == 3 else '' }}"
                >
                    <time class="date" date="{{ date }}">
                        <span>{{ date.strftime("%a")}}</span>
                        <span>{{ date.strftime("%d")}}</span>
                    </time> 
                </a>
            {% endfor %}
        </section>
        {% block main_content %}
        
        {% endblock %}
    </main>
    
</body>
</html>