<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 046 | Blog</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <h1>Blog</h1>
    </nav>
    <div class="post">
            <div class="post-wrapper">
                <h4>{{ blogpost['title']}}</h4>
                <p>{{  blogpost['subtitle'] }}</p>
                <p>{{blogpost['body']}}</p>
            </div>

    </div>
</body>
</html>